.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}
  
  .pokemon-info {
    padding: 30px;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: rgb(255, 108, 108);
    color: rgb(0, 0, 0);
    font-size: 60px;
    display: flex;
    justify-content: center;
  }
  
  .pokemon-number {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
  }

  .pokemon-name {
    text-align: left;
    padding: 10px;
    text-transform: uppercase;
  }
  
  .pokemon-details {
    width: 100%;
    background-color: rgb(255, 157, 157);
    display: flex;
    align-items: flex-start;
    text-transform: uppercase;
    justify-content: center;
  }
  
  .pokemon-image img {
    width: 250px;
    height: 250px;
    padding: 10px;
  }
  
  .pokemon-stats {
    text-align: left;
    padding: 10px;
    font-size: 30px;
  }
  
  .pokemon-stats div {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgb(255, 64, 64);
    color: rgb(0, 0, 0);
    padding: 10px;
  }
  