@import "~bootstrap/dist/css/bootstrap.min.css";

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 0, 0);
}

.footer {
  padding: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 0, 0);
}

.generations {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 70, 70);
}
  
  .generation-link {
    color: white;
    text-decoration: none;
    margin-right: 5px; /* entre links */
  }
  
  .link-separator {
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(255, 165, 165); /*separador*/
  }
  
.search {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 102, 102);

}

  .pokemon-card {
    border-style: solid;
    border-color: rgb(64, 64, 64);
    height: 350px;
    width: 500px;

  }

  .pokemon-info {
    padding: 30px;
    align-items: center;
    height: 15px;
    width: 100%;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
  }
  
  
  .pokemon-details {
    width: 100%;
    display: flex;
    align-items: flex-start;
    text-transform: uppercase;
    justify-content: center;
  }
  
  .pokemon-image img {
    width: 300px;
    height: 300px;
    padding: 10px;
  }
  
  .pokemon-stats {
    text-align: left;
    padding: 10px;
    font-size: 20px;
  }
  
  .pokemon-stats div {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 17px;
  }

  .pokemon-card {
    border-style: solid;
    border-color: #000000;
    width: 200px; /* Reduzindo a largura do card */
    margin: 10px; /* Adicionando margem entre os cards */
    border-radius: 10px;
    box-shadow: "20px 20px 20px rgba (0, 0, 0, 0.8)";
  }

  .pokemon-card .pokemon-name {
    font-size: 1.2em; /* Tamanho do texto responsivo */
    overflow: hidden; /* Oculta qualquer texto que transborde do contêiner */
    text-overflow: ellipsis; /* Mostra reticências (...) quando o texto transborda */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
  }
  
  .pokemon-info { /* nome do poke do card */
    font-size: 1.2em; /* Tamanho do texto responsivo */
    padding: 10px; /* Reduzindo o padding do conteúdo do card */
    font-size: 20px; /* Reduzindo o tamanho da fonte */
  }
  
  .pokemon-image img {
    max-width: 100%; /* Garantindo que a imagem do Pokémon se ajuste ao tamanho do contêiner */
    height: auto; /* Garantindo que a altura da imagem seja ajustada automaticamente */
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap; /* Permitindo que os cards quebrem para a próxima linha */
    justify-content: center; /* Centralizando os cards horizontalmente */
  }
  

  /* CARD FULL */
  .pokemon-card-full {
    display: flex;
    align-items: center;
    width: 100%;
    border-color: rgb(64, 64, 64);
    background-color: rgb(255, 255, 255);
  }
  /* POKEMON DOS CARDS */
  .pokemon-image {
    flex: 1;
    padding: 10px;
  }
  .pokemon-image img {
    width: 100%;
    height: auto;
  }
  .pokemon-details {
    flex: 2;
    padding: 10px;
    font-size: 30px;
  } 
  .pokemon-info {
    margin-bottom: 2px;
  }
  .pokemon-stats {
    background-color: rgba(255, 255, 255, 0.7); /* Branco com 50% de opacidade */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
  }
  
  .pokemon-stats strong {
    margin-right: 5px;
  }

  .pokemon-card-link {
    font-size: 1.2em; /* Tamanho do texto responsivo */
    overflow: hidden; /* Oculta qualquer texto que transborde do contêiner */
    text-overflow: ellipsis; /* Mostra reticências (...) quando o texto transborda */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    background-color: transparent; /* Cor de fundo transparente */
    color: #000000; /* Cor do texto */
    padding: 10px 10px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    text-decoration: none; /* Remover sublinhado */
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
  }
  
  .pokemon-card-link:hover {
    color: white; /* Cor do texto quando hover */
  }
  
  /* modal */
  .modal-dialog {
    height: 1000px;
    weight: 800px;
    max-height: 100vh; /* Defina a altura máxima do modal como 80% da altura da viewport */
    overflow-y: auto; /* Adicione uma barra de rolagem vertical se o conteúdo exceder a altura máxima */
  }

  .modal-title {
    padding: 30px;
    align-items: center;
    width: 100%;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.2em; /* Tamanho do texto responsivo */
    overflow: hidden; /* Oculta qualquer texto que transborde do contêiner */
    text-overflow: ellipsis; /* Mostra reticências (...) quando o texto transborda */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    color: #000000; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
  }
  