@import "~bootstrap/dist/css/bootstrap.min.css";

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 0, 0);
}

.footer {
  padding: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 0, 0);
}

.generations {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 70, 70);
}
  
  .generation-link {
    color: white;
    text-decoration: none;
    margin-right: 5px; /* entre links */
  }
  
  .link-separator {
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(255, 165, 165); /*separador*/
  }
  
.search {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 102, 102);

}
  
  .pokemon-card {
    border-style: solid;
    border-color: rgb(64, 64, 64);
    width: 400px;
    background-color: rgb(255, 255, 255);
  }

  .pokemon-info {
    padding: 30px;
    align-items: center;
    height: 15px;
    width: 100%;
    font-size: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
  }
  
  
  .pokemon-details {
    width: 100%;
    background-color: #ff00bf;
    display: flex;
    align-items: flex-start;
    text-transform: uppercase;
    justify-content: center;
  }
  
  .pokemon-image img {
    width: 300px;
    height: 300px;
    padding: 10px;
  }
  
  .pokemon-stats {
    text-align: left;
    padding: 10px;
    font-size: 20px;
  }
  
  .pokemon-stats div {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
  }

  .footer div {
    font-size: 25px;
    background-color: rgb(255, 169, 169);
  }

  .pokemon-card {
    border-style: solid;
    border-color: rgb(64, 64, 64);
    width: 200px; /* Reduzindo a largura do card */
    margin: 10px; /* Adicionando margem entre os cards */
  }
  
  .pokemon-info {
    padding: 10px; /* Reduzindo o padding do conteúdo do card */
    font-size: 20px; /* Reduzindo o tamanho da fonte */
  }
  
  .pokemon-image img {
    max-width: 100%; /* Garantindo que a imagem do Pokémon se ajuste ao tamanho do contêiner */
    height: auto; /* Garantindo que a altura da imagem seja ajustada automaticamente */
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap; /* Permitindo que os cards quebrem para a próxima linha */
    justify-content: center; /* Centralizando os cards horizontalmente */
  }
  