header {
    width: 0;
    height: 0;
    background-color: black;
    color: aliceblue;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

header a {
    color:white;
    font-size: 20px;
}

header a + a {
    margin-left: 10px;
}